# Ignore .terraform directory
.terraform/

# Ignore terraform.tfstate files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore .tfvars files
*.tfvars

# Ignore override files as they are usually used to override resources locally and do not need to be checked into version control
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
